---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
           <!--  &nbsp;&nbsp;·&nbsp;&nbsp; -->
        {% endif %}
      {% endfor %}
      <!-- <a href="/music/">Music</a> -->
    </div>
</header>

<center>
<!-- <h2>Artists</h2>
    <a href="http://pilotsuits.us" target='_blank'>PilotSuits.</a> </br>
    <a href="http://lh2b.com" target='_blank'>Left-Handed 2nd Baseman</a> </br>
    <a href="http://themeanjeanoaks.com" target='_blank'>The Mean Jean Oaks</a> </br>    
    <a href="http://www.facebook.com/fridayinamerica" target='_blank'>Friday in America</a> </br></br> -->
<!--<iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/track=1357499147/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true/" seamless><a href="http://meanjeanoaks.bandcamp.com/track/horse-eyes">Horse Eyes by Mean Jean Oaks</a></iframe>-->
<center>
<!-- <a name="upcoming_shows"><h2>Upcoming shows</h2></a>
<pre><code><a href='https://www.facebook.com/events/405783889609329/' target='_blank'>2015-08-07 Friday at Black Bear Bar in Williamsburg, Brooklyn</a>
</code></pre> -->

<iframe src="https://embed.spotify.com/?uri=spotify:user:jajajrjr:playlist:4F7sD2FGKLtslv97QIPBjk&theme=white&view=coverart" width="100%" height="550" frameborder="0" allowtransparency="true"></iframe>
</center>


<h2><a href="https://meanjeanoaks.bandcamp.com/" target='_blank'>Bandcamp</a></h2>
<!-- <h2><a href="https://twitter.com/TheMeanJeanOaks" target="_blank">Twitter</a></h2> -->
<h2><a href="http://instagram.com/meanjeanoaks" target="_blank">Instagram</a></h2>

<h2><a href="http://jajajrjr.com" target='_blank'>Jaja Jr. jr. Records</a></h2>

<a name="press"><h2>Press</h2></a>
<p><a href="http://50thirdand3rd.com/experimental-jazz-punk-from-brooklyn-meet-mean-jean-oaks/" target="_blank">The Mean Jean Oaks interview at 50 third and 3rd Music website</a>
</p>
<a name="shows"><h2>Past shows</h2></a>
<pre><code>2015-08-07: Black Bear Bar in Williamsburg, Brooklyn
2014-06-01: Black Bear Bar with Erastratus and Fuck Your Birthday
2014-03-30: Acheron with Bleed the Pigs, Bezoar, Thera Roya
2013-08-21: The Flat 
2013-05-30: Ella Lounge
2011-08-25: St. Vitus
2011-07-??: Tommy's Tavern
2011-06-22: CoCo 66
2011-05-??: The National Underground</code></pre>
<!-- 
<h2><a href="https://www.facebook.com/pages/Mean-Jean-Oaks/430790827017654" target='_blank'>Facebook</a></h2>
<p>We need help with Facebook, <a href="mailto:meanjeanoaks@gmail.com">contact</a> if you'd like to help us with it.</p>
 -->

<!-- <h2>Music</h2></center>
<iframe src="https://embed.spotify.com/?uri=spotify:user:jajajrjr:playlist:58W3SXgCLggHljQqC9hZJp&theme=white&view=coverart" width="100%" height="550" frameborder="0" allowtransparency="true"></iframe>
 -->
<!-- <center>
<a class="twitter-timeline" href="https://twitter.com/JajaJrjr" data-widget-id="575049930009677824">Tweets by @JajaJrjr</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</center> -->


<main class="content" role="main">

    {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>Featured</span></h5>

    <div class="container featured">
      {% for post in site.tags.featured %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
  <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

    <h5 class="index-headline normal"><span>Regular</span></h5>
    {% endif %}

    <div class="cf frame">
      {% for post in paginator.posts %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
<!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Older posts</a>
      {% endif %}
      <span class="page-number"><!-- Page --> {{ paginator.page }} <!-- of --> {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/">Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}">Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav>


    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>
